html, body{
	margin: 0px;	
	font-family: 'Lato', sans-serif;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.red {
	color: #F02871 !important; 
}
.blue {
	color: #66ccff !important; 
}
.grey{
	color: #616161;
}

.be-red {
	background-color: #F02871;
}
.be-big{
	font-size: 2em;
}
.be-small{
	font-size: 12px;
}
.underline{
	text-decoration: underline;
}
.bottom-space{
	margin-bottom: 2em;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
#logo{
	font-size: 1.2em;
}
.no-margin {
	margin: 0px;
}
.white {
	color: #FCF7F4;
}
.large-padding{
	padding: 10px 7px;
}
ul {
 	list-style: none; 	
}
.field,.actions, {
	margin-top:1em;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;

}
.btn{	
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 12px;
}
.top-space{
	margin-top: 1em;
}
.article-height{
	height: 150px;
}
.background-cover{
	background-position: center;
	background-size: cover;

}
.relative{
	position: relative;
}
.absolute{
	position: absolute;	
}
.ligth-border{

}
.hidden{
	display: none !important;
}